<div class="team">
  <div class="team__content">
    <h3 class="team__content__title">{{ !id ? 'Crear' : 'Modificar' }} equipo</h3>
    <form [formGroup]="teamForm" class="team__content__formulary">
      <mat-form-field class="input">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre" placeholder="Nombre">
        <mat-error *ngIf="teamForm.get('nombre')?.hasError('required')">
          El nombre es <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Estadio</mat-label>
        <input type="text" matInput formControlName="estadio" placeholder="Estadio">
        <mat-error *ngIf="teamForm.get('estadio')?.hasError('required')">
          El estadio es <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Sitio web</mat-label>
        <input type="text" matInput formControlName="sitioWeb" placeholder="Sitio web">
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Nacionalidad</mat-label>
        <input type="text" matInput formControlName="nacionalidad" placeholder="nacionalidad">
        <mat-error *ngIf="teamForm.get('nacionalidad')?.hasError('required')">
          El nacionalidad es <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Fecha de fundación</mat-label>
        <input matInput [matDatepicker]="dp3" formControlName="fundacion" placeholder="Fundacion">
        <mat-error *ngIf="teamForm.get('fundacion')?.hasError('required')">
          La fecha fundación es <strong>Requerida</strong>
        </mat-error>
        <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>entrenador</mat-label>
        <input type="text" matInput formControlName="entrenador" placeholder="entrenador">
        <mat-error *ngIf="teamForm.get('entrenador')?.hasError('required')">
          El entrenador es <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Capacidad</mat-label>
        <input type="text" matInput formControlName="capacidad" placeholder="Capacidad">
        <mat-error *ngIf="teamForm.get('capacidad')?.hasError('required')">
          La capacidad es <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Valor</mat-label>
        <input type="text" matInput formControlName="valor" placeholder="Valor" class="input__value">
        <mat-error *ngIf="teamForm.get('valor')?.hasError('required')">
          El valor es <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>
      <div class="team__content__formulary__actions">
        <button class="team__content__formulary__actions__action" (click)="backUrl()" mat-raised-button>Atras</button>
        <button class="team__content__formulary__actions__action" (click)="actionTeam()" mat-raised-button>{{ !id ? 'Crear' : 'Modificar' }} Equipo</button>
      </div>
    </form>
  </div>
</div>
