<div class="login">
  <form [formGroup]="loginForm" class="login__form">
    <mat-form-field class="login__form__email">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf="loginForm.get('email')?.getError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login__form__input">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Ex. pat@example.com">
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf="loginForm.get('password')?.getError('required')">
        Please enter a valid password
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button (click)="login()" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
